.button {
  padding: 5px 10px;
  min-width: 100px;
  border: 2px solid var(--gray);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.has-icon {
  justify-content: space-between;
}

.icon {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
}
.icon svg {
  width: 14px;
  height: 14px;
}

.text {
  text-align: center;
  margin: 0 5px;
  font-size: 14px;
}

.has-icon .text {
  text-align: right;
}
