.share-dialog {
  margin: 5px 20px;
}

.heading {
  text-align: center;
  margin-bottom: 10px;
}

.product {
  padding: 10px;
  border: 2px solid var(--gray);
  margin-bottom: 10px;
}

.image {
}

.name {
  font-weight: 700;
  margin: 5px 0;
}

.description {
  font-weight: 700;
  font-size: smaller;
  color: var(--gray);
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
